.btn,
.btn-links {
    background-color: #100c0d;
    border: 2px solid #e3dcd2;
    width: 70px;
    margin: 5px;
  }
  
  .btn a {
    font-style: none;
    text-decoration: none;
    color: #e3dcd2;
  }

  .btn:hover,
  .btn-links:hover  {
    border: 3px solid #cc8b65;
  }
  
  .btn a:hover,
  .btn-links:hover  {
    color: #cc8b65;
  }

  .btn-links {
    color:#e3dcd2;
    width: 150px;
    height: 35px;
    margin: 25px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
  }